.container{
    display: flex;
    margin-left: 500px  ;
   
   
}
.zadan{
    color: yellow;
}
body{
    background-image: url("image/cccp.gif");
    background-size: cover;

}

h1{
    color: yellow;
    margin-left: 30%;
}
.telo{
    display: flex;
    margin-left: 500px  ;
    color: yellow; 
  
    
}
.card{
    background-color: red;
}
.infa{
    color: yellow;
    margin-left: 25%;
    background-color: red;
    text-indent: 6%;
}
.otstup{
   margin-left: 10px ;
}
.otstuped{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
